<div>
    <h1>Home Departamentos</h1>
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                <th>Id Departamento</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            @for (dept of departamentos; track dept) {
                <tr>
                    <td>
                        {{dept.idDepartamento}}
                    </td>
                    <td>
                        {{dept.nombre}}
                    </td>
                    <td>
                        {{dept.localidad}}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>