<div>
    <h1>Home Departamentos</h1>
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                <th>Id Departamento</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th colspan="3" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (dept of departamentos; track dept) {
                <tr>
                    <td>
                        {{dept.idDepartamento}}
                    </td>
                    <td>
                        {{dept.nombre}}
                    </td>
                    <td>
                        {{dept.localidad}}
                    </td>
                    <td>
                        <!-- 1a FORMA -->
                        <!-- <a [routerLink]="['/detalles/'+dept.idDepartamento+'/'+dept.nombre+'/'+dept.localidad]" class="btn btn-dark">Detalles</a> -->
                        <!-- 2a FORMA -->
                         <a [routerLink]="['/detalles',dept.idDepartamento,dept.nombre,dept.localidad]" class="btn btn-info">Detalles</a>
                    </td>
                    <td>
                        <a [routerLink]="['/edit',dept.idDepartamento]" class="btn btn-success">Editar</a>
                    </td>

                    <td>
                        <button (click)="eliminarDepartamento(dept.idDepartamento)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>